/src/MapGuide/3.1
/src/MapGuide/3.0
/src/MapGuide/2.6
/src/MapGuide/2.5
/src/MapGuide/2.4
/build
/src/IMake/Debug
/src/IMake/ipch
/src/IMake/Win32
/src/IMake/*.opendb
/src/obj
/src/bin
/src/Bindings/Bindings.sdf
/src/Bindings/.vs
/src/Bindings/DotNetCore/wrapper/Constants.cs
/src/IMake/IMake.sdf
/src/MapGuide/MgDev
/src/Bindings/DotNetCore/MapGuideApi.i
/src/Bindings/DotNetCore/MapGuideApi_Doc.i
/src/Bindings/DotNetCore/language.i
/src/Bindings/DotNetCore/MgApi_wrap.cpp
/src/Bindings/DotNetCore/*.user
/src/Bindings/*.opendb
/src/Bindings/DotNetCore/wrapper/*.cs
