bin
obj
.vs
.vagrant
/downloads
/packages
/nuget_packages
/linux_build/packer/packer_cache
!/packages/Java/Release/x64/Ubuntu14.04.x86_64/libMapGuideJavaApi.so
!/packages/Java/Release/x86/Ubuntu14.04.i686/libMapGuideJavaApi.so
/thirdparty/php7/src/php-7.2.6
!/thirdparty/php7/src/php-7.2.6/main/config.w32.h
!/thirdparty/php7/src/php-7.2.6/main/php.h
!/thirdparty/php7/src/php-7.2.6/win32/readdir.h
/thirdparty/php7/src/php-7.1.18
!/thirdparty/php7/src/php-7.1.18/main/config.w32.h
/build
/tools
/runtimes/php/Release
/runtimes/php/Release64
/src/Test/Php/*.dll
/src/Test/Php/*.pdb
/src/Test/Php/MapGuideApi.php
/src/Test/Php/constants.php
/src/Test/Php/UnitTests.log
/src/Test/DotNet/packages
/src/Test/DotNet/src/TestRunner/GETDRAWING*.bin
/src/Test/DotNet/src/TestRunner/UnitTests.log
/src/Test/DotNet/src/TestRunner/metadata.txt
/src/Test/DotNet/src/TestRunner/metadata2.txt
/src/Test/java_dist
/src/Test/Java/build
/src/Test/Java/lib
/src/TestData/Samples/Sheboygan/Sheboygan.mgp
/src/IMake/Debug
/src/IMake/ipch
/src/IMake/Win32
/src/IMake/*.opendb
/src/Bindings/Bindings.sdf
/src/Bindings/.vs
/src/Bindings/DotNet/MapGuideDotNetApi/Constants.cs
/src/IMake/IMake.sdf
/src/MapGuide/MgDev
/src/Bindings/DotNet/MapGuideApi.i
/src/Bindings/DotNet/MapGuideApi_Doc.i
/src/Bindings/DotNet/language.i
/src/Bindings/DotNet/MgApi_wrap.cpp
/src/Bindings/DotNet/*.user
/src/Bindings/*.opendb
/src/Bindings/DotNet/MapGuideDotNetApi/*.cs
/src/Bindings/MapGuideApi
/src/Bindings/ipch
/src/Bindings/Php/MapGuideApi.i
/src/Bindings/Php/MapGuideApi_Doc.i
/src/Bindings/Php/language.i
/src/Bindings/Php/MgApi_wrap.cpp
/src/Bindings/Php/MapGuideApi.php
/src/Bindings/Php/php_MapGuideApi.h
/src/Bindings/Java/org/osgeo/mapguide/*.Java
/src/Bindings/Java/org/osgeo/mapguide/*.class
/src/Bindings/Java/MgApi_wrap.cpp
/src/Bindings/Java/MapGuideApi.i
/src/Bindings/Java/MapGuideApi_Doc.i
/src/Bindings/Java/language.i
!/src/Bindings/Java/org/osgeo/mapguide/AppThrowable.java
!/src/Bindings/Java/org/osgeo/mapguide/MgBase64.java
!/src/Bindings/Java/org/osgeo/mapguide/MgLocalizer.java
!/src/Bindings/Java/org/osgeo/mapguide/ObjectFactory.java
/src/IMake/.vs
/src/lib
/src/IMake/Release
/src/Bindings/DotNet/lib
/src/Bindings/DotNet/MapGuideApi_Properties.i
/src/Test/Dnx/src/TestRunner/*.bin
/src/Bindings/DotNet/MapGuideDotNetApi/runtimes/win-x64/native/*.dll
/src/Bindings/DotNet/MapGuideDotNetApi/runtimes/win-x86/native/*.dll
*.suo
*.user
/src/Test/Dnx/src/TestRunner/UnitTests.log
/src/TestData/DrawingService/DrawingServiceTest.db
/src/TestData/FeatureService/FeatureServiceTest.db
/src/TestData/ResourceService/ResourceServiceTest.db
/src/Test/Dnx/src/TestCommon/project.lock.json
/src/Test/Dnx/src/TestMapGuide/project.lock.json
/src/Test/Dnx/src/TestMapGuideApi/project.lock.json
/src/Test/Dnx/src/TestRunner/project.lock.json
/src/Test/Dnx/src/TestRunner/metadata.txt
/src/Test/Dnx/src/TestRunner/metadata2.txt
/src/TestData/MapLayer/MapLayerTest.db
/src/TestData/MappingService/MappingServiceTest.db
/src/TestData/ServerAdmin/ServerAdminTest.db
/src/TestData/SiteService/SiteServiceTest.db
/src/TestData/Unicode/UnicodeTest.db
/src/TestData/WebLayout/WebLayoutTest.db
/src/TestData/Wfs/WfsTest.db
/src/TestData/Wms/WmsTest.db
/swig
/swig-3.0.12
/src/IMake/Linux
/src/Bindings/DotNet/libMapGuideDotNetCoreUnmanagedApi.so
/src/Bindings/DotNet/MgApi_wrap.cpp
/src/Bindings/DotNet/MgApi_wrap.o
/src/Bindings/artifacts
/sdk/*
!/sdk/README.md
/src/FileReplace/.vs
/src/FileReplace/Release
/src/FileReplace/Debug
/src/FileReplace/x64
/src/FileReplace/x86
/src/FileReplace/*.opendb
/src/FileReplace/*.sdf
/src/FileReplace/bin/*.iobj
/src/FileReplace/bin/*.ipdb
/src/FileReplace/bin/*.pdb
/src/Tools/StampVer/bin
/src/Tools/artifacts
constants.php
/src/Bindings/Php/MgApi_wrap_orig.cpp
launchSettings.json
src/TestData/Samples/Sheboygan/Library/Samples/Sheboygan/Data/VotingDistricts.FeatureSource_DATA_VotingDistricts.sdf
src/TestData/Samples/Sheboygan/Library/Samples/Sheboygan/Data/BuildingOutlines.FeatureSource_DATA_BuildingOutlines.sdf
src/TestData/Samples/Sheboygan/Library/Samples/Sheboygan/Data/CityLimits.FeatureSource_DATA_CityLimits.sdf
src/TestData/Samples/Sheboygan/Library/Samples/Sheboygan/Data/HydrographicPolygons.FeatureSource_DATA_HydrographicPolygons.sdf
src/TestData/Samples/Sheboygan/Library/Samples/Sheboygan/Data/Parcels.FeatureSource_DATA_Parcels.sdf
src/TestData/Samples/Sheboygan/Library/Samples/Sheboygan/Data/Rail.FeatureSource_DATA_Rail.sdf
src/TestData/Samples/Sheboygan/Library/Samples/Sheboygan/Data/RoadCenterLines.FeatureSource_DATA_RoadCenterLines.sdf
java_test_output.log