bin
obj
/packages/*
/build
/src/IMake/Debug
/src/IMake/ipch
/src/IMake/Win32
/src/IMake/*.opendb
/src/Bindings/Bindings.sdf
/src/Bindings/.vs
/src/Bindings/DotNet/MapGuideDotNetApi/Constants.cs
/src/IMake/IMake.sdf
/src/MapGuide/MgDev
/src/Bindings/DotNet/MapGuideApi.i
/src/Bindings/DotNet/MapGuideApi_Doc.i
/src/Bindings/DotNet/language.i
/src/Bindings/DotNet/MgApi_wrap.cpp
/src/Bindings/DotNet/*.user
/src/Bindings/*.opendb
/src/Bindings/DotNet/MapGuideDotNetApi/*.cs
/src/Bindings/MapGuideApi
/src/Bindings/ipch
/src/IMake/.vs
/src/lib
/src/IMake/Release
/src/Bindings/DotNet/lib
/src/Bindings/DotNet/MapGuideApi_Properties.i
/src/Test/Dnx/src/TestRunner/*.bin
/src/Bindings/DotNet/MapGuideDotNetApi/runtimes/win-x64/native/*.dll
/src/Bindings/DotNet/MapGuideDotNetApi/runtimes/win-x86/native/*.dll
*.suo
*.user
/src/Test/Dnx/src/TestRunner/UnitTests.log
/src/TestData/DrawingService/DrawingServiceTest.db
/src/TestData/FeatureService/FeatureServiceTest.db
/src/TestData/ResourceService/ResourceServiceTest.db
/src/Test/Dnx/src/TestCommon/project.lock.json
/src/Test/Dnx/src/TestMapGuide/project.lock.json
/src/Test/Dnx/src/TestMapGuideApi/project.lock.json
/src/Test/Dnx/src/TestRunner/project.lock.json
/src/Test/Dnx/src/TestRunner/metadata.txt
/src/Test/Dnx/src/TestRunner/metadata2.txt
/src/TestData/MapLayer/MapLayerTest.db
/src/TestData/MappingService/MappingServiceTest.db
/src/TestData/ServerAdmin/ServerAdminTest.db
/src/TestData/SiteService/SiteServiceTest.db
/src/TestData/Unicode/UnicodeTest.db
/src/TestData/WebLayout/WebLayoutTest.db
/swig
/swig-3.0.12
swig-3.0.12.tar.gz
/src/IMake/Linux
/src/Bindings/DotNet/libMapGuideDotNetCoreUnmanagedApi.so
/src/Bindings/DotNet/MgApi_wrap.cpp
/src/Bindings/DotNet/MgApi_wrap.o
/src/Bindings/artifacts
/sdk/*
!/sdk/README.md
/src/FileReplace/.vs
/src/FileReplace/Release
/src/FileReplace/Debug
/src/FileReplace/x64
/src/FileReplace/x86
/src/FileReplace/*.opendb
/src/FileReplace/*.sdf
/src/FileReplace/bin/*.iobj
/src/FileReplace/bin/*.ipdb
/src/FileReplace/bin/*.pdb
/src/Tools/StampVer/bin
/src/Tools/artifacts